@font-face {
 font-family: "COCOGOOSE";
 src: url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot");
 src: url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff") format("woff"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.svg#COCOGOOSE") format("svg");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
:root {
 --primary-color: #d3d3d3;
 --secondary-color: #ec5242;
 --tetiary-color: #272a31;
}
  
body {
    font-family: 'lato', sans-serif;
}
  
html {
    scroll-behavior: smooth;
}
  
a {
    text-decoration: none;
    color: black;
}
  
li {
    list-style-type: none;
}
  