@font-face {
 font-family: "COCOGOOSE";
 src: url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot");
 src: url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff") format("woff"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.svg#COCOGOOSE") format("svg");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
:root {
 --primary-color: #d3d3d3;
 --secondary-color: #ec5242;
 --tetiary-color: #272a31;
}
  
body {
    font-family: 'lato', sans-serif;
}
  
html {
    scroll-behavior: smooth;
}
  
a {
    text-decoration: none;
    color: black;
}
  
li {
    list-style-type: none;
}

header {
    background-image: url("../image/desktopbg.jpg");
}

.nav-bar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .mobile-ul {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-left: 60px;
    gap: 40px;
  }
  
  .mobile-links {
    transition: 0.7s ease;
    font-weight: 550;
  }
  
  .mobile-links:hover {
    color: var(--secondary-color);
  }
  
  .harmburger {
    cursor: pointer;
    display: none;
  }
  
  .bar {
    background-color: var(--tetiary-color);
    display: block;
    width: 25px;
    height: 4px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .logo-img {
    width: 50px;
    padding-right: 2px;
  }
  
  span {
    font-size: 19px;
    font-weight: 600;
    font-style: normal;
  }
  
  .b {
    border: 3px solid var(--secondary-color);
    padding: 7px 10px;
  }
  
  .c {
    color: var(--secondary-color);
    font-weight: bold;
  }
  
  /******* Mobile Section ****************/
  @media (max-width: 768px) {
.harmburger {
    display: block;
}

header {
    height: 72px;
    background-image: url("../image/desktopbg.jpg");
}

.main-header {
    height: 70px;
    width: 100%;
    position: fixed;
    background-image: url("../image/desktopbg.jpg");
}

.harmburger.active .bar:nth-child(2) {
    opacity: 0;
}

.harmburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.harmburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

.mobile-ul {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 30px;
    flex-direction: column;
    width: 100%;
    background: var(--tetiary-color);
    transition: 0.3s;
    padding: 20vh 40px 100vh;
}

.mobile-links {
    color: #fff;
    font-weight: normal;
    font-size: 18px;
  }

  .b {
    border: 2px solid var(--secondary-color);
    padding: 7px 15px;
  }

  .c {
    color: var(--secondary-color);
  }

  .mobile-ul.active {
    left: 0%;
  }

  .logo-img {
    width: 50px;
    padding-right: 2px;
  }

  .desktop-nav-container {
    display: none;
  }

  .react {
    display: flex;
    align-items: center;
    color: var(--secondary-color);
  }

  span {
    font-size: 19px;
    font-weight: 600;
    font-style: normal;
  }

 /**** Headline Section ************/

 .headline-container {
    background-image: url("../image/desktopbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 8vh 25px 7vh;
    text-align: center;
}

.headline-description {
    color: var(--tetiary-color);
    padding: 20px 15px;
    line-height: 1.4;
    background-color: var(--primary-color);
    border-radius: 8px;
    font-style: normal;
    font-weight: 400;
  }

  .headline-section h2 {
    padding: 25px 0;
    color: var(--tetiary-color);
    font-size: 23px;
    line-height: 1.4;
  }

  .more-info {
    color: var(--tetiary-color);
    font-size: 15px;
    width: 90%;
    margin: 0 auto;
    padding: 30px 0 5px 0;
    line-height: 1.8;
  }

  .about-mail {
    font-size: 14px;
    color: var(--tetiary-color);
    font-style: italic;
    border-bottom: 1px solid var(--tetiary-color);
}

/**** About Logo Section **************/
.about-logo {
  padding: 50px 0 7vh;
  background-color: #f8f8f8;
}

.about-logo-title {
    text-align: center;
  }

  .about-logo-title h3 {
    color: var(--tetiary-color);
    width: 80%;
    margin: 0 auto;
    line-height: 1.3;
    font-size: 24px;
  }

  .about-logo-container-hr {
    padding: 15px 0;
  }

  .about-logo-hr {
    border-top: none;
    border-color: var(--secondary-color);
    width: 8vw;
    margin: 0 auto;
  }

  .about-logo-description {
    text-align: center;
    line-height: 1.5;
    color: var(--tetiary-color);
    padding: 0 10px;
  }

  .main-logo-container {
    text-align: center;
    padding: 30px 0 60px;
  }

  .main-logo {
    width: 150px;
    border: 2px solid var(--primary-color);
    padding: 10px 20px;
  }

  .about-sub-logo {
    width: 100vw;
    border-color: #fff;
    border-bottom: none;
}


/** Mobile Past Commits Section ****/

.past-commits {
    padding: 0 10px 8vh;
    background-color: #f8f8f8;
}

.past-commits-title {
    text-align: center;
  }

  .past-commits-title h2 {
    color: var(--tetiary-color);
    font-weight: bold;
    font-size: 24px;
  }

  .past-commits-hr-container {
    padding: 10px 0 25px 0;
  }

  .past-commits-hr {
    border-color: #f7786a;
    border-top: none;
    width: 10vw;
    margin: 0 auto;
  }

  .past-commits-description-container {
    text-align: center;
    padding-bottom: 40px;
  }

  .past-commits-description {
    color: var(--tetiary-color);
    font-size: 15px;
  }

  .past-commits-flex {
    margin-bottom: 15px;
  }

/***** Partners Section **********/
.partners {
    padding: 8vh 6px 30px 6px;
    background-color: var(--tetiary-color);
}

.partners-title {
    text-align: center;
}

.partners-title h2 {
    color: #fff;
    font-weight: 400;
    font-size: 23px;
  }

  .partners-hr-container {
    margin-top: 6px;
    padding: 15px 0 25px;
  }

  .partners-hr {
    border-top: none;
    border-color: var(--secondary-color);
    width: 10vw;
    margin: 0 auto;
  }

  .partners-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 20px 0;
  }

  .partners-img {
    width: 150px;
  }

/***** Footer Section ******/
.footer {
    padding: 50px 10px 50px 10px;
  }


}  